/transporter
.vagrant
/transform*js
.vscode
*.rdb
*.db
.idea

# private
/adaptorx
/private

# macOS
.DS_Store

# test files
/pipeline*.js
/test*.csv
/test*.env
/test*.json
/test*.jsonl
*.jsonl
*.json
*.csv 
temp

# es log
/elastic.log

# executable
/abc
/build
abc.exe
