/transporter
.vagrant
/transform*js
.vscode
*.rdb

# private
/adaptorx
/private

# macOS
.DS_Store

# test files
/pipeline*.js
/test*.csv
/test*.env
/test*.json

# es log
/elastic.log

# executable
/abc
/build
